/PlagijatorFinder/Backup/PlagijatorFinder.sln
/PlagijatorFinder/Backup/PlagijatorFinder/About.aspx
/PlagijatorFinder/Backup/PlagijatorFinder/About.aspx.cs
/PlagijatorFinder/Backup/PlagijatorFinder/About.aspx.designer.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Account/ChangePassword.aspx
/PlagijatorFinder/Backup/PlagijatorFinder/Account/ChangePassword.aspx.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Account/ChangePasswordSuccess.aspx
/PlagijatorFinder/Backup/PlagijatorFinder/Account/ChangePasswordSuccess.aspx.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Account/Login.aspx
/PlagijatorFinder/Backup/PlagijatorFinder/Account/Login.aspx.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Account/Login.aspx.designer.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Account/Register.aspx
/PlagijatorFinder/Backup/PlagijatorFinder/Account/Register.aspx.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Account/Register.aspx.designer.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Account/Web.config
/PlagijatorFinder/Backup/PlagijatorFinder/Common/Resources.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Common/WinForms.Kickstart.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Default.aspx
/PlagijatorFinder/Backup/PlagijatorFinder/Default.aspx.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Default.aspx.designer.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Files/grid1.html
/PlagijatorFinder/Backup/PlagijatorFinder/Files/grid12.html
/PlagijatorFinder/Backup/PlagijatorFinder/Files/grid13.html
/PlagijatorFinder/Backup/PlagijatorFinder/Files/grid2.html
/PlagijatorFinder/Backup/PlagijatorFinder/Files/grid22.html
/PlagijatorFinder/Backup/PlagijatorFinder/Files/grid23.html
/PlagijatorFinder/Backup/PlagijatorFinder/Global.asax
/PlagijatorFinder/Backup/PlagijatorFinder/Global.asax.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Kontakt.aspx
/PlagijatorFinder/Backup/PlagijatorFinder/Kontakt.aspx.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Kontakt.aspx.designer.cs
/PlagijatorFinder/Backup/PlagijatorFinder/NLineDiff/CalcForD.cs
/PlagijatorFinder/Backup/PlagijatorFinder/NLineDiff/Data.cs
/PlagijatorFinder/Backup/PlagijatorFinder/NLineDiff/DiffLinear.cs
/PlagijatorFinder/Backup/PlagijatorFinder/PlagijatorFinder.csproj
/PlagijatorFinder/Backup/PlagijatorFinder/PlagijatorFinder.csproj.user
/PlagijatorFinder/Backup/PlagijatorFinder/Pocetna.aspx
/PlagijatorFinder/Backup/PlagijatorFinder/Pocetna.aspx.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Pocetna.aspx.designer.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Properties/AssemblyInfo.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Scripts/jquery-1.4.1-vsdoc.js
/PlagijatorFinder/Backup/PlagijatorFinder/Scripts/jquery-1.4.1.js
/PlagijatorFinder/Backup/PlagijatorFinder/Scripts/jquery-1.4.1.min.js
/PlagijatorFinder/Backup/PlagijatorFinder/Site.Master
/PlagijatorFinder/Backup/PlagijatorFinder/Site.Master.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Site.Master.designer.cs
/PlagijatorFinder/Backup/PlagijatorFinder/StringSift2.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Styles/Site.css
/PlagijatorFinder/Backup/PlagijatorFinder/Styles/styles.css
/PlagijatorFinder/Backup/PlagijatorFinder/TabelaSlicnosti.aspx
/PlagijatorFinder/Backup/PlagijatorFinder/TabelaSlicnosti.aspx.cs
/PlagijatorFinder/Backup/PlagijatorFinder/TabelaSlicnosti.aspx.designer.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Uporedjivanje.aspx
/PlagijatorFinder/Backup/PlagijatorFinder/Uporedjivanje.aspx.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Uporedjivanje.aspx.designer.cs
/PlagijatorFinder/Backup/PlagijatorFinder/Web.Debug.config
/PlagijatorFinder/Backup/PlagijatorFinder/Web.Release.config
/PlagijatorFinder/Backup/PlagijatorFinder/Web.config
/PlagijatorFinder/Backup/PlagijatorFinder/css2/images/ui-icons_0E6D38_0.png
/PlagijatorFinder/Backup/PlagijatorFinder/css2/images/ui-icons_19A053_0.png
/PlagijatorFinder/Backup/PlagijatorFinder/css2/images/ui-icons_333333_0.png
/PlagijatorFinder/Backup/PlagijatorFinder/css2/images/ui-icons_525252_0.png
/PlagijatorFinder/Backup/PlagijatorFinder/css2/images/ui-icons_777777_0.png
/PlagijatorFinder/Backup/PlagijatorFinder/css2/images/ui-icons_ffffff_0.png
/PlagijatorFinder/Backup/PlagijatorFinder/css2/jquery-ui.css
/PlagijatorFinder/Backup/PlagijatorFinder/customStyle.css
/PlagijatorFinder/Backup/PlagijatorFinder/js/jquery-1.6.2.min.js
/PlagijatorFinder/Backup/PlagijatorFinder/js/jquery-ui-1.8.16.custom.min.js
/PlagijatorFinder/Backup/PlagijatorFinder/testStrana.aspx
/PlagijatorFinder/Backup/PlagijatorFinder/testStrana.aspx.cs
/PlagijatorFinder/Backup/PlagijatorFinder/testStrana.aspx.designer.cs
/PlagijatorFinder/PlagijatorFinder.sln
/PlagijatorFinder/PlagijatorFinder.suo
/PlagijatorFinder/PlagijatorFinder.v12.suo
/PlagijatorFinder/PlagijatorFinder/About.aspx
/PlagijatorFinder/PlagijatorFinder/About.aspx.cs
/PlagijatorFinder/PlagijatorFinder/About.aspx.designer.cs
/PlagijatorFinder/PlagijatorFinder/Account/ChangePassword.aspx
/PlagijatorFinder/PlagijatorFinder/Account/ChangePassword.aspx.cs
/PlagijatorFinder/PlagijatorFinder/Account/ChangePassword.aspx.designer.cs
/PlagijatorFinder/PlagijatorFinder/Account/ChangePasswordSuccess.aspx
/PlagijatorFinder/PlagijatorFinder/Account/ChangePasswordSuccess.aspx.cs
/PlagijatorFinder/PlagijatorFinder/Account/ChangePasswordSuccess.aspx.designer.cs
/PlagijatorFinder/PlagijatorFinder/Account/Login.aspx
/PlagijatorFinder/PlagijatorFinder/Account/Login.aspx.cs
/PlagijatorFinder/PlagijatorFinder/Account/Login.aspx.designer.cs
/PlagijatorFinder/PlagijatorFinder/Account/Register.aspx
/PlagijatorFinder/PlagijatorFinder/Account/Register.aspx.cs
/PlagijatorFinder/PlagijatorFinder/Account/Register.aspx.designer.cs
/PlagijatorFinder/PlagijatorFinder/Account/Web.config
/PlagijatorFinder/PlagijatorFinder/Common/Resources.cs
/PlagijatorFinder/PlagijatorFinder/Common/WinForms.Kickstart.cs
/PlagijatorFinder/PlagijatorFinder/Default.aspx
/PlagijatorFinder/PlagijatorFinder/Default.aspx.cs
/PlagijatorFinder/PlagijatorFinder/Default.aspx.designer.cs
/PlagijatorFinder/PlagijatorFinder/Files/grid1.html
/PlagijatorFinder/PlagijatorFinder/Files/grid12.html
/PlagijatorFinder/PlagijatorFinder/Files/grid13.html
/PlagijatorFinder/PlagijatorFinder/Files/grid2.html
/PlagijatorFinder/PlagijatorFinder/Files/grid22.html
/PlagijatorFinder/PlagijatorFinder/Files/grid23.html
/PlagijatorFinder/PlagijatorFinder/Global.asax
/PlagijatorFinder/PlagijatorFinder/Global.asax.cs
/PlagijatorFinder/PlagijatorFinder/Kontakt.aspx
/PlagijatorFinder/PlagijatorFinder/Kontakt.aspx.cs
/PlagijatorFinder/PlagijatorFinder/Kontakt.aspx.designer.cs
/PlagijatorFinder/PlagijatorFinder/NLineDiff/CalcForD.cs
/PlagijatorFinder/PlagijatorFinder/NLineDiff/Data.cs
/PlagijatorFinder/PlagijatorFinder/NLineDiff/DiffLinear.cs
/PlagijatorFinder/PlagijatorFinder/PlagijatorFinder.csproj
/PlagijatorFinder/PlagijatorFinder/PlagijatorFinder.csproj.user
/PlagijatorFinder/PlagijatorFinder/Pocetna.aspx
/PlagijatorFinder/PlagijatorFinder/Pocetna.aspx.cs
/PlagijatorFinder/PlagijatorFinder/Pocetna.aspx.designer.cs
/PlagijatorFinder/PlagijatorFinder/Properties/AssemblyInfo.cs
/PlagijatorFinder/PlagijatorFinder/Scripts/jquery-1.4.1-vsdoc.js
/PlagijatorFinder/PlagijatorFinder/Scripts/jquery-1.4.1.js
/PlagijatorFinder/PlagijatorFinder/Scripts/jquery-1.4.1.min.js
/PlagijatorFinder/PlagijatorFinder/Site.Master
/PlagijatorFinder/PlagijatorFinder/Site.Master.cs
/PlagijatorFinder/PlagijatorFinder/Site.Master.designer.cs
/PlagijatorFinder/PlagijatorFinder/StringSift2.cs
/PlagijatorFinder/PlagijatorFinder/Styles/Site.css
/PlagijatorFinder/PlagijatorFinder/Styles/customStyle1.css
/PlagijatorFinder/PlagijatorFinder/Styles/images/ActiveMenuButton.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/ActiveMenuButtonAnchor.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/ArticleCenter.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/ArticleCorners.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/ArticleHorizontal.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/ArticleVertical.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/BackgroundGradient.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/BlockCenter.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/BlockContentBorderCenter.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/BlockContentBorderCorners.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/BlockContentBorderVertical.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/BlockCorners.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/BlockHorizontal.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/BlockVertical.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/BorderCenter.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/BorderCorners.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/BorderHorizontal.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/BorderVertical.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/Button.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/ButtonAnchor.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/Header.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/MenuBar.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/MenuButton.png
/PlagijatorFinder/PlagijatorFinder/Styles/images/MenuButtonAnchor.png
/PlagijatorFinder/PlagijatorFinder/Styles/styles.css
/PlagijatorFinder/PlagijatorFinder/TabelaSlicnosti.aspx
/PlagijatorFinder/PlagijatorFinder/TabelaSlicnosti.aspx.cs
/PlagijatorFinder/PlagijatorFinder/TabelaSlicnosti.aspx.designer.cs
/PlagijatorFinder/PlagijatorFinder/Uporedjivanje.aspx
/PlagijatorFinder/PlagijatorFinder/Uporedjivanje.aspx.cs
/PlagijatorFinder/PlagijatorFinder/Uporedjivanje.aspx.designer.cs
/PlagijatorFinder/PlagijatorFinder/Web.Debug.config
/PlagijatorFinder/PlagijatorFinder/Web.Release.config
/PlagijatorFinder/PlagijatorFinder/Web.config
/PlagijatorFinder/PlagijatorFinder/add.jpg
/PlagijatorFinder/PlagijatorFinder/av1_1.png
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.AWT.WinForms.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.Beans.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.Charsets.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.Corba.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.Core.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.Jdbc.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.Management.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.Media.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.Misc.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.Naming.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.Remoting.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.Security.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.SwingAWT.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.Text.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.Util.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.OpenJDK.XML.API.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.Runtime.JNI.dll
/PlagijatorFinder/PlagijatorFinder/bin/IKVM.Runtime.dll
/PlagijatorFinder/PlagijatorFinder/bin/aspFileUploadStoreTag.dll
/PlagijatorFinder/PlagijatorFinder/bin/aspFileUploadStoreTag.dll.config
/PlagijatorFinder/PlagijatorFinder/bin/aspFileUploadStoreTag.pdb
/PlagijatorFinder/PlagijatorFinder/bin/bcmail-jdk15-1.44.dll
/PlagijatorFinder/PlagijatorFinder/bin/bcprov-jdk15-1.44.dll
/PlagijatorFinder/PlagijatorFinder/bin/commons-logging.dll
/PlagijatorFinder/PlagijatorFinder/bin/fontbox-1.7.0.dll
/PlagijatorFinder/PlagijatorFinder/bin/icu4j-3.8.dll
/PlagijatorFinder/PlagijatorFinder/bin/jempbox-1.7.0.dll
/PlagijatorFinder/PlagijatorFinder/bin/junit.dll
/PlagijatorFinder/PlagijatorFinder/bin/pdfbox-1.7.0.dll
/PlagijatorFinder/PlagijatorFinder/css2/images/ui-icons_0E6D38_0.png
/PlagijatorFinder/PlagijatorFinder/css2/images/ui-icons_19A053_0.png
/PlagijatorFinder/PlagijatorFinder/css2/images/ui-icons_333333_0.png
/PlagijatorFinder/PlagijatorFinder/css2/images/ui-icons_525252_0.png
/PlagijatorFinder/PlagijatorFinder/css2/images/ui-icons_777777_0.png
/PlagijatorFinder/PlagijatorFinder/css2/images/ui-icons_ffffff_0.png
/PlagijatorFinder/PlagijatorFinder/css2/jquery-ui.css
/PlagijatorFinder/PlagijatorFinder/customStyle.css
/PlagijatorFinder/PlagijatorFinder/js/jquery-1.6.2.min.js
/PlagijatorFinder/PlagijatorFinder/js/jquery-ui-1.8.16.custom.min.js
/PlagijatorFinder/PlagijatorFinder/obj/Debug/CoreCompileInputs.cache
/PlagijatorFinder/PlagijatorFinder/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/PlagijatorFinder/PlagijatorFinder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PlagijatorFinder/PlagijatorFinder/obj/Debug/PlagijatorFinder.csproj.FileListAbsolute.txt
/PlagijatorFinder/PlagijatorFinder/obj/Debug/PlagijatorFinder.csprojResolveAssemblyReference.cache
/PlagijatorFinder/PlagijatorFinder/obj/Debug/ResolveAssemblyReference.cache
/PlagijatorFinder/PlagijatorFinder/obj/Debug/aspFileUploadStoreTag.dll
/PlagijatorFinder/PlagijatorFinder/obj/Debug/aspFileUploadStoreTag.pdb
/PlagijatorFinder/PlagijatorFinder/testStrana.aspx
/PlagijatorFinder/PlagijatorFinder/testStrana.aspx.cs
/PlagijatorFinder/PlagijatorFinder/testStrana.aspx.designer.cs
/PlagijatorFinder/PlagijatorFinder/uploadFiles/2From input private
/PlagijatorFinder/PlagijatorFinder/uploadFiles/2From input private.txt
/PlagijatorFinder/PlagijatorFinder/uploadFiles/Automatic protocol
/PlagijatorFinder/PlagijatorFinder/uploadFiles/Automatic protocol.txt
/PlagijatorFinder/PlagijatorFinder/uploadFiles/Automatic protocolasdasd
/PlagijatorFinder/PlagijatorFinder/uploadFiles/ChipWhisperer
/PlagijatorFinder/PlagijatorFinder/uploadFiles/ChipWhisperer.txt
/PlagijatorFinder/PlagijatorFinder/uploadFiles/From input private
/PlagijatorFinder/PlagijatorFinder/uploadFiles/From input private.txt
/PlagijatorFinder/PlagijatorFinder/uploadFiles/Unified Oblivious-RAM
/PlagijatorFinder/PlagijatorFinder/uploadFiles/Unified Oblivious-RAM.txt
/PlagijatorFinder/PlagijatorFinder/uploadFiles/Verifiable computation
/PlagijatorFinder/PlagijatorFinder/uploadFiles/Verifiable computation.txt
/PlagijatorFinder/PlagijatorFinder/uploadFiles/aaaaaaaaaaaaaaaaaaaaa1
/PlagijatorFinder/PlagijatorFinder/uploadFiles/aaasadasdasdasdasd
/PlagijatorFinder/PlagijatorFinder/uploadFiles/asdasfsafdsafdsadf
/PlagijatorFinder/PlagijatorFinder/uploadFiles/asdsadsadsad
/PlagijatorFinder/PlagijatorFinder/uploadFiles/bla
/PlagijatorFinder/PlagijatorFinder/uploadFiles/bla.txt
/PlagijatorFinder/PlagijatorFinder/uploadFiles/rad1
/PlagijatorFinder/PlagijatorFinder/uploadFiles/rad1.txt
/PlagijatorFinder/PlagijatorFinder/uploadFiles/rad2
/PlagijatorFinder/PlagijatorFinder/uploadFiles/rad2.txt
/PlagijatorFinder/PlagijatorFinder/uploadFiles/saddsfghjklkjhgfdsgfhjkljhgfd
/PlagijatorFinder/PlagijatorFinder/uploadFiles/zzzzzzzzzzzzzzzzzzzzz
/PlagijatorFinder/PlagijatorFinder/uploadFiles/zzzzzzzzzzzzzzzzzzzzz.txt
/PlagijatorFinder/PlagijatorFinder/uploadFilesjarvis3x
/PlagijatorFinder/PlagijatorFinder/uploadFilesjarvis3x.txt
/PlagijatorFinder/UpgradeLog.htm
/PlagijatorFinder/aspFileUploadStoreTag.suo
